<header>
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/"><img width="66" height="66" alt="KD Logo (white solid circle with KD in the centre)"
                        src="/media/KD-Logo.svg"></a>
            </div>
            <div class="mobile-menu">
                <button class="menu_btn">Explore</button>
            </div>
        </div>
        <div class="panel">
            <div class="close_btn"><span class="material-symbols-rounded">
                    close
                </span></div>
            <div class="menu-items">
                <a href="/about/">About Me</a>
                <a href="/work/">My Work</a>
                <a href="#">Contact Me</a>
            </div>
        </div>
    </div>
</header>