---
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper">
                <div class="flow">
                    <h1>{{ project_title }}</h1>
                    <p>{{ project_description }}</p>
                    
                    {% if project_highlights %}
                        {% for highlight in project_highlights %}
                            <img class="lightbox" data-fancybox src="{{ highlight.hightlight_image }}" alt="Highlight Image">
                            <p>{{ highlight.highlight_description }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>