---
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper even-cols v-align-c">
                <div class="flow">
                    {% include 'breadcrumb.njk' %}
                    <h1 class="animate__animated animate__fadeInUp">{{ project_title }}</h1>
                    <p class="animate__animated animate__fadeInUp">{{ project_description }}</p>
                </div>
                <div>
                    <div id="cards">
                        <div class="card flow animate__animated animate__fadeInUp">
                            <h2>Project Goals</h2>
                            <div>
                                <ul>
                                    <li>Create a modern, on-brand website design.</li>
                                    <li>Develop a user-friendly interface that is easy to use and navigate.</li>
                                    <li>Ensure the website is mobile-responsive and works well across all devices.</li>
                                    <li>Generate leads and allow potential buyers to see swatches and samples online.</li>
                                    <li>Make use of the CMS in an effective way to make it easy for the client to edit and update the site.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper">
                {% if project_highlights %}
                        {% for highlight in project_highlights %}
                            <div class="project-highlight flow">
                            <img class="lightbox" data-fancybox src="{{ highlight.hightlight_image }}" alt="Highlight Image">
                            <p>{{ highlight.highlight_description }}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </section>
</main>