---
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper">
                <div class="flow">
                    <h1 class="animate__animated animate__fadeInUp">{{ title }}</h1>
                    <p class="animate__animated animate__fadeInUp">{{ description }}</p>
                </div>
            </div>
        </div>
    </section>
</main>