---
title: Kristopher Durkin
desc: A web designer who currently works at Fab Spider, designing websites for clients across a multitude of business sectors.
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper even-cols">
                <div class="flow">
                    <h1 class="animate__animated animate__fadeInUp">About Me</h1>
                    <p class="animate__animated animate__fadeInUp">As a skilled digital designer with over 5 years of
                        experience, my focus lies in designing
                        websites and digital interfaces that are not only visually appealing but also highly
                        functional and user-friendly. My proficiency spans across a range of sectors, and I am
                        dedicated to staying up-to-date with the latest design trends and technologies.</p>
                    <a href="/work/"><button class="button animate__animated animate__fadeInUp animate__delay-1s"
                        data-button-type="primary">View some of my work</button></a>
                </div>
                <div>
                    <div id="cards">
                        <div class="card flow animate__animated animate__fadeInUp">
                            <h2>Experience</h2>
                            <div>
                                <p class="small faded">2015 - 2023</p>
                                <p>Fab Spider Ltd <span class="faded">(Digital Designer)</span></p>
                                <ul>
                                    <li>Designed various websites, interfaces, and digital
                                        experiences across a multitude of business sectors.</li>
                                    <li>Worked closely with clients, stakeholders and project
                                        managers, reviewing work and managing deadlines at
                                        each stage</li>
                                    <li>Liased and worked alongside developers, supplying
                                        design ready files, guidelines, and prototypes.</li>
                                    <li>Created brand guidelines and design systems for multiple
                                        clients.</li>
                                    <li>
                                        Alongside external design work, I worked as a part of a
                                        team on designing the Fab Spider, brand, design system
                                        and website.
                                    </li>
                                    <li>Occasionaly trained clients on how to use their content
                                        management system, supplying documentation and
                                        resources.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card flow animate__animated animate__fadeInUp">
                            <h2>Skills</h2>
                            <div>
                                <p class="small faded">Programs & Tools</p>
                                <p>Photoshop, Illustrator, Figma, Webflow, WordPress</p>
                            </div>

                            <div>
                                <p class="small faded">Technical & Disciplines</p>
                                <p>Website Design, Interface Design, Graphic Design, Branding,
                                    Brand Guidelines, Design Libraries, Style Guides, Content
                                    Management Systems, Prototyping, User Flows, HTML, CSS.</p>
                            </div>
                            <div>
                                <p class="small faded">Personal</p>
                                <p>Attention to detail, effective communication, adaptable, strong
                                    teamwork and collaboration skills, project management, meeting
                                    deadlines, quick learner, self motivated.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>