---
title: Contact Me
desc: A web designer who currently works at Fab Spider, designing websites for clients across a multitude of business.
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper even-cols">
                <div class="flow">
                    <h1 class="animate__animated animate__fadeInUp">{{ title }}</h1>
                    <p class="animate__animated animate__fadeInUp">If you wish to contact me, feel free to use the
                        methods listed below, alternatively you can fill out the contact form and I'll get back to you.
                    </p>
                </div>
                <div>
                    <div class="card flow animate__animated animate__fadeInUp">
                        <h2>Contact Form</h2>
                        <p>Fill out the form below with your details and I'll get back to you.</p>
                        <form class="contact-form flow" name="contact" method="POST" data-netlify="true">
                            <input required type="text" placeholder="First Name *">
                            <input required type="email" placeholder="Email Address *">
                            <input type="tel" placeholder="Contact Number (Optional)">
                            <textarea required name="Message" rows="6" placeholder="Your Message *"></textarea>
                            <p data-paragraph-type="small">By clicking submit message you understand that your submitted details will be used to contact you back in regards to your enquiry.</p>
                            <button class="button" data-button-type="primary" type="submit">Submit Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>