---
title: Kristopher Durkin
desc: A web designer who currently works at Fab Spider, designing websites for clients across a multitude of business sectors.
layout: 'base.njk'
---
    <main>
        <section>
            <div class="container" data-container-height="full">
                <div class="content-wrapper flow" data-content-width="half">
                    <h1 class="animate__animated animate__fadeInUp">Hi there, my names Kristopher.</h1>
                    <p class="animate__animated animate__fadeInUp">I'm a web designer who currently works at Fab Spider,
                        designing websites for clients across a
                        multitude of business sectors, from travel, to agriculture, and everything inbetween.</p>
                    <a href="/about/"><button class="button animate__animated animate__fadeInUp animate__delay-1s"
                    data-button-type="primary">More about me</button></a>
                    <a href="/work/"><button class="button animate__animated animate__fadeInUp animate__delay-1s"
                    data-button-type="secondary"><span class="button-label">My Work</span></button></a>
                </div>
            </div>
        </section>
    </main>