---
title: Kristopher Durkin
desc: A web designer who currently works at Fab Spider, designing websites for clients across a multitude of business sectors.
layout: 'base.njk'
---
<main>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper">
                <div class="flow">
                    <h1 class="animate__animated animate__fadeInUp">My Work</h1>
                    <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Sed pellentesque, augue eu sodales bibendum, nunc sem ultrices odio, sed fermentum ligula
                        odio vel augue. Nullam eget dolor quis orci pulvinar facilisis consequat et purus. Nunc ac
                        hendrerit tortor. Vestibulum sed congue lectus.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" data-container-height="standard">
            <div class="content-wrapper">
                <div id="cards" class="work-grid">
                        {%- for work in collections.work | reverse -%}
                        <a href="{{ work.url }}">
                            <div class="work-grid-item">
                                <img class="pl-image" src="{{ work.data.featured_image }}" alt="{{ work.data.project_title }}">
                                <div class="work-grid-content">
                                    <p>{{ work.data.project_title }}</p>
                                </div>
                            </div>
                            </a>
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>